.container{
    background-color: yellow;
    /* background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */
    height: 100vh;
    text-align:center; 
    }
    h1{
        text-align: center;
    }
    footer{
        text-align: right;
        color: black;
    }
    body{
        background-color: lightpink;
        background-image: url("birthday.jpg");
        }
    .No.days{
        text-align: center;
        padding-right: 50px;
    }
    
    
